#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.title {
  color: #ffffffde;
}

.card {
  padding: 2em;
}

.image {
  size: 20px;
  max-width: 250px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.enlargedImg {
  max-width: 80vw;
  max-height: 90vh;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  transform: scale(1);
}

.imageAll {
  max-width: 120px;
  border-radius: 4px;
}

.footer {
  padding: 20px;
  color: rgba(255, 255, 255, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}