:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .cardsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardsGrid {
    grid-template-columns: 1fr;
  }
}


.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  text-align: center;
  border: 1px solid gray;
  background-color: #111;
}

 .home-container {
  position: relative;
  background-image: url("/smoke.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 0;

}

.fade-in {
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

/* Ensure text sits above overlay */
.home-container h1,
.home-container button {
  position: relative;
  z-index: 1;
}

/* Optional button styling */
button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.cardInfo{
  margin: 30px;
}

/* html{
  margin-bottom: 100px;
} */

.cardDetailButton{
  margin-top: 14px;
  margin-bottom: 6px;
  padding: 8px 16px;

}

.cardDetailButton:hover{
  background-color: rgb(81, 83, 113);
}

.cardAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}